


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Battambang", system-ui;
}
/* nav star */
#navbar{
    background: #f9f9f9;
}
#logo{
    font-size: 36px;
    font-weight: 700;
    color: black;
    text-shadow: 0px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color: #ffa500;
}
.navbar-toggler span{
    color: #ffa500;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: #ffa500;
    color: white;
}
#navbar form button{
    background: orange;
    color: white;
    border: none;
}

/* nav  end */

/* Home section star */
.home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)),url(/image/bg-phone\ penh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h5{
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
}
.home .content h1{
    color: white;
    font-size: 70px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.home .content p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}
.changecontent::after{
    content: '';
    color: #ffa500;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content: "រាជធានីភ្នំពេញ";}
    10%{content: "ខេត្តសៀមរាប";}
    20%{content: "ខេត្តកំពត";}
    30%{content: "ខេត្តបាត់ដំបង";}
    40%{content: "ខេត្តកំពង់ចាម";}
    50%{content: "ខេត្តកណ្តាល";}
    60%{content: "ខេត្តព្រៃវែង";}
    70%{content: "ខេត្តកំពង់ឆ្នាំង";}
    80%{content: "ខេត្តកំពង់ធំ";}
    90%{content: "ខេត្តកោះកុង";}
    100%{content: "ខេត្តត្បូងឃ្មុំ";}
}
.home .content a{
    padding: 10px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: none;
}
.home .content a:hover{
    background: #ffa500;
    color: white;
}
@media (max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media (max-width:450px){
    .home .content h5{
        font-size: 25px;
    }
    .home .content h1{
        line-height: 20px;
        font-size: 20px;
    }
    .home .content p{
        font-size: 16px;
    }
}
/* Home section end */

/* Section Book Star */
.book{
    background: #f9f9f9;
    padding: 50px;
}
.main-text h1{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}
.main-text h1 span{
    color: #ffa500;
}
.book .card{
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book .row{
    margin-top: 30px;
}
.book form input{
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book form textarea{
    border: none;
    border-radius: 10px;
    resize: 200px;
    box-shadow: 0px 5px 5px -6px black;
    height: 200px;
}
.book .submit{
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background: #ffa500;
    color: white;
    margin-top: 10px;
    transition: 0.5s;
}
.book .submit:hover{
    width: 170px;
}
@media(max-width:765px){
    .book{
        padding: 0;
    }
    .main-text h1{
        padding: 20px;
    }
}
/* Section Book End */

/* Section Packages Star */
.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
}
.main-txt h1 span{
    color: #ffa500;
}
.packages .card{
    border-radius:5px;
    border: none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    margin-top: 10px;
}
.packages .card img{
    border-radius: 5px;
}
.packages .card .card-body{
    background: transparent;
}
.packages .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
}
.packages .card .card-body p{
    font-size: 15px;
    /* line-height: 50px; */
}
.checked{
    color: #ffa500;
}
.fa-star i{
    font-size: 15px;
}
.packages .card .card-body h6{
    font-size: 20px;
}
.packages .card .card-body .btn-warning{
    transform: translate(50px,10px);
}
.packages .card .card-body .btn-warning a{
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

/* Section Packages End */

/* Section Service Star */
.services{
    background: #f9f9f9;
    margin-top: 50px;
}
.services .card{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
}
.services .card i{
    font-size: 80px;
    color: #ffa500;
    text-align: center;
    margin-top: 20px;
}
.services .card .card-body h3{
    font-weight: 600;
    /* text-align: center; */
}
.services .card .card-body{
    text-align: center;
}
/* Section Service End */

/* Section Gallary Star */
.gallary{
    margin-top: 50px;
}
.gallary .card{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
    margin-top: 20px;
}
.gallary .card img{
    border-radius: 10px;
    transition: 0.5s;
}
.gallary .card img:hover{
    transform: scale(1.1);
}
/* Section Gallary End */

/* Section About Star */
.about{
    margin-top: 50px;
    background: #f9f9f9;
}
.about .card{
    border-radius: 10px;
}
.about .card img{
    border-radius: 10px;
}
.about h2{
    font-weight: 600;
    letter-spacing: 1px;
}
.about p{
    font-size: 500;
}
.about .btn-warning{
    width: 150px;
    height: 38px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
}
@media(max-width:765px){
    .about{
        padding: 0;
    }
}
/* Section About End */

/* Footer Star */
#footer{
    width: 100%;
    height: 150px;
    text-align: center;
    background: #f9f9f9;
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}
#footer h1 span{
    color: #ffa500;
}
.socail-medai i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.socail-medai i:hover{
    background: #ffa500;
}
/* Footer End */